<?php
$_option = $this->getOption();
$_fileInfo = $this->getFileInfo();
$_fileExists = $_fileInfo->hasData() ? true : false;
$_fileName = 'options_' . $_option->getId() . '_file';
$_fieldNameAction = $_fileName . '_action';
$_fieldValueAction = $_fileExists ? 'save_old' : 'save_new';
$_fileNamed = $_fileName . '_name';
$_rand = rand();

$helper = Mage::helper('customoptions');
$disabled = '';
if ($helper->isDependentEnabled() && $_option->getIsDependent()) {
    $disabled = 'disabled="disabled"';
}
?>
<script type="text/javascript">
//<![CDATA[
    opFile<?php echo $_rand; ?> = {
        initializeFile: function(inputBox) {
            this.inputFile = inputBox.select('input[name="<?php echo $_fileName; ?>"]')[0];
            this.inputFileAction = inputBox.select('input[name="<?php echo $_fieldNameAction; ?>"]')[0];
            this.fileNameBox = inputBox.up('dd').select('.<?php echo $_fileNamed ?>')[0];
        },

        toggleFileChange: function(inputBox) {
            this.initializeFile(inputBox);
            inputBox.toggle();
            this.fileChangeFlag = this.fileChangeFlag ? false : true;
            if (!this.fileDeleteFlag) {
                if (this.fileChangeFlag) {
                     this.inputFileAction.value = 'save_new';
                     this.inputFile.disabled = false;
                 } else {
                     this.inputFileAction.value = 'save_old';
                     this.inputFile.disabled = true;
                 }
            }
        },

        toggleFileDelete: function(fileDeleteFlag, inputBox) {
            this.initializeFile(inputBox);
            this.fileDeleteFlag = fileDeleteFlag.checked ? true : false;
            if (this.fileDeleteFlag) {
                this.inputFileAction.value = '';
                this.inputFile.disabled = true;
                this.fileNameBox.setStyle({'text-decoration': 'line-through'});
            } else {
                this.inputFileAction.value = this.fileChangeFlag ? 'save_new' : 'save_old';
                this.inputFile.disabled = (this.fileChangeFlag == 'save_old');
                this.fileNameBox.setStyle({'text-decoration': 'none'});
            }
        }
    };
//]]>
</script>
<div <?php if ($helper->hideDependentOption() && $_option->getIsDependent() || $_option->getViewMode()==2) { ?>style="display: none;"<?php } ?> class="option<?php if ($helper->isSpecifyingCssClassEnabled() && $_option->getDivClass()) echo ' '.$_option->getDivClass() ?>">
<dl>
    <dt><label><?php echo  $this->htmlEscape($_option->getTitle()) ?><?php if ($_option->getIsRequire(true)): ?><span class="required">&nbsp;*</span><?php endif; ?></label>
        <?php echo $helper->getFormatedOptionPrice($this->getProduct(), $_option); ?>
        <?php if ($_option->getDescription()): ?><p class="note"><?php echo $_option->getDescription() ?></p><?php endif; ?>
    </dt>
    <dd<?php if ($_option->decoratedIsLast){?> class="last"<?php }?>>
        <?php if ($_fileExists) { ?>
            <span class="<?php echo $_fileNamed ?>"><?php echo $_fileInfo->getTitle(); ?></span>
            <a href="javascript:void(0)" class="label" onclick="opFile<?php echo $_rand; ?>.toggleFileChange($(this).next('.input-box'))">
                <?php echo Mage::helper('catalog')->__('Change') ?>
            </a>&nbsp;
            <?php if (!$_option->getIsRequire()): ?>
               <input type="checkbox" onclick="opFile<?php echo $_rand; ?>.toggleFileDelete($(this), $(this).next('.input-box'))" />
               <span class="label"><?php echo Mage::helper('catalog')->__('Delete') ?></span>
            <?php endif; ?>
        <?php } ?>
        
        <div class="input-box" <?php echo $_fileExists ? 'style="display:none"' : '' ?>>
            <input type="file" id="options_<?php echo $_option->getId() ?>_file" <?php echo $disabled ?>  name="<?php echo $_fileName; ?>" class="product-custom-option<?php echo $_option->getIsRequire(true) ?($_option->getIsDependent()?' required-dependent':' required-entry') : '' ?>" onchange="opConfig.reloadPrice()" />
            <input type="hidden" name="<?php echo $_fieldNameAction; ?>" value="<?php echo $_fieldValueAction; ?>" />
            <?php if ($_option->getFileExtension()): ?>
                <p class="no-margin"><?php echo Mage::helper('catalog')->__('Allowed file extensions to upload')?>: <strong><?php echo $_option->getFileExtension() ?></strong></p>
            <?php endif; ?>
            <?php if ($_option->getImageSizeX() > 0): ?>
                <p class="no-margin"><?php echo Mage::helper('catalog')->__('Maximum image width')?>: <strong><?php echo $_option->getImageSizeX() ?> <?php echo Mage::helper('catalog')->__('px.')?></strong></p>
            <?php endif; ?>
            <?php if ($_option->getImageSizeY() > 0): ?>
                <p class="no-margin"><?php echo Mage::helper('catalog')->__('Maximum image height')?>: <strong><?php echo $_option->getImageSizeY() ?> <?php echo Mage::helper('catalog')->__('px.')?></strong></p>
            <?php endif; ?>
        </div>
    </dd>
</dl>
</div>