#magekartLightbox{ position: absolute;	left: 0; width: 100%; z-index: 60002; text-align: center; line-height: 0; }
#magekartLightbox img{ width: auto; height: auto;}
#magekartLightbox a img{ border: none; }

#magekartOuterImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#magekartImageContainer{ padding: 10px; }

#magekartLoading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#magekartHoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#magekartImageContainer>#magekartHoverNav{ left: 0;}
#magekartHoverNav a{ outline: none;}

#magekartPrevLink, #magekartNextLink{ width: 49%; height: 100%; display: block; }
#magekartPrevLink { left: 0; float: left;}
#magekartNextLink { right: 0; float: right;}
#magekartPrevLink:hover, #magekartPrevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#magekartNextLink:hover, #magekartNextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#magekartImageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#magekartImageData{	padding:0 10px; color: #666; }
#magekartImageData #magekartImageDetails{ width: 70%; float: left; text-align: left; }	
#magekartImageData #magekartCaption{ font-weight: bold;	}
#magekartImageData #magekartNumberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#magekartImageData #magekartBottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}

#magekartOverlay{ position: absolute; top: 0; left: 0; z-index: 60001; width: 100%; height: 500px; background-color: #000; }