<?php
$item   = $this->getItem();
if ($item) { ?>
<a href="<?php echo $item->getBigImgUrl() ?>" rel="magekartLightbox[]" title="">
    <img src="<?php echo $item->getUrl() ?>" title="" class="small-image-preview v-middle<?php if ($item->getClass()) echo ' '.$item->getClass(); ?>" />
</a>
<?php } ?>