<?php
$helper = Mage::helper('customoptions');
?>
<script type="text/javascript">

OptionTemplateFile = '<table class="border" cellpadding="0" cellspacing="0" style="width:900px">'+
        '<tr class="headings">'+
            <?php if ($helper->isDependentEnabled()) { ?>'<th class="type-id"><?php echo $helper->__js('Id') ?></th>'+<?php } ?>
            '<th class="type-price"><?php echo $helper->__js('Price') ?></th>'+
            '<th class="type-type"><?php echo $helper->__js('Price Type') ?></th>'+
            '<th class="type-sku"><?php echo $helper->__js('SKU') ?></th>'+
            '<th class="type-title"><?php echo $helper->__js('Allowed File Extensions') ?></th>'+
            '<th class="last"><?php echo $helper->__js('Maximum Image Size') ?></th>'+
            '<th class="last"></th>'+
        '</tr>'+
        '<tr>'+
            <?php if ($helper->isDependentEnabled()) { ?>'<td align="center">{{in_group_id_view}}</td>'+<?php } ?>
            '<td><input type="text" class="input-text validate-number product-option-price" id="product_option_{{option_id}}_price" name="product[options][{{option_id}}][price]" value="{{price}}"></td>'+
            '<td><?php echo $helper->jsEscape($this->getPriceTypeSelectHtml()) ?>{{checkboxScopePrice}}</td>'+
            '<td>'+
                '<input type="text" class="input-sku{{sku_class}}" id="product_option_{{option_id}}_sku" name="product[options][{{option_id}}][sku]" value="{{sku}}" onchange="if (!this.value) productOptionType.enablePrice({{option_id}});">'+
                '{{view_product_by_sku_html}}'+
            '</td>'+
            '<td><input class="input-text" type="text" id="product_option_{{option_id}}_file_extension" name="product[options][{{option_id}}][file_extension]" value="{{file_extension}}"></td>'+
            '<td class="type-last" nowrap><input class="input-text" type="text" id="product_option_{{option_id}}_image_size_x" name="product[options][{{option_id}}][image_size_x]" value="{{image_size_x}}"> <?php echo $helper->__js('x') ?> <input class="input-text" type="text" id="product_option_{{option_id}}_image_size_y" name="product[options][{{option_id}}][image_size_y]" value="{{image_size_y}}"> <?php echo $helper->__js('px.') ?><br/><?php echo $helper->__js('leave blank if its not an image') ?></td>'+
            '<td class="type-last last"><span title="Add image"><?php echo $helper->jsEscape($this->getAddImageButtonHtml()) ?></span></td>'+
        '</tr>'+
        '<tr id="file_option_row_{{option_id}}"><td colspan="9">{{image}}</td></tr>'+
        '<tr><td colspan="9"><div id="file-upload-{{option_id}}"></div></td></tr>'+        
    '</table>'+
    '<input type="hidden" class="igi" id="product_option_{{option_id}}_in_group_id" name="product[options][{{option_id}}][in_group_id]" value="{{in_group_id}}"/>';

productOptionTypeFile = {
        div : 'option_1',
        itemCount : 0,
        templateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
        templateText : OptionTemplateFile,
        add : function(data) {
            this.template = new Template(this.templateText, this.templateSyntax);

            if (data.target || data.srcElement) {//data is Event (work in IE and Firefox)
                element = $(Event.findElement(data, 'button'));
                optionId = element.readAttribute('id').sub('add_select_row_button_', '');
                data = {};
                data.option_type_id = '-1';
                data.select_id = this.itemCount;
            } else {
                optionId = data.option_id;
                data.select_id = data.option_type_id;
                this.itemCount = data.item_count;
            }

            data.id  = optionId;

            Element.insert($(this.div+'_'+data.id), {'bottom':this.template.evaluate(data)});

            if (data.checkboxScopeTitle) {
                //set disabled
                if ($('product_option_'+data.id+'_select_'+data.select_id+'_title') && data.scopeTitleDisabled) {
                    $('product_option_'+data.id+'_select_'+data.select_id+'_title').disable();
                }
            }
            if (data.checkboxScopePrice) {
                //set disabled
                if ($('product_option_'+data.id+'_select_'+data.select_id+'_price') && data.scopePriceDisabled) {
                    $('product_option_'+data.id+'_select_'+data.select_id+'_price').disable();
                    $('product_option_'+data.id+'_select_'+data.select_id+'_price_type').disable();
                }
            }

            if (data.price_type) {
                $A($('product_option_'+data.id+'_select_'+data.select_id+'_price_type').options).each(function(option){
                    if (option.value==data.price_type) option.selected = true;
                });
            }

            this.itemCount++;
            this.bindRemoveButtons();
        },
        remove : function(event){
            var element = $(Event.findElement(event, 'tr'));

            if(element){
                $(element.readAttribute('id')+'_is_delete').value = '1';
                $(element).addClassName('no-display');
                $(element).addClassName('ignore-validate');
                element.hide();
            }
        },
        bindRemoveButtons : function(){
            var buttons = $$('.delete-select-row');
            for(var i=0;i<buttons.length;i++){
                if(!$(buttons[i]).binded){
                    $(buttons[i]).binded = true;
                    Event.observe(buttons[i], 'click', this.remove.bind(this));
                }
            }
        },
        bindAddButton : function()
        {
            var buttons = $$('.add-select-row');
            for(var i=0;i<buttons.length;i++){
                if(!$(buttons[i]).binded){
                    $(buttons[i]).binded = true;
                    Event.observe(buttons[i], 'click', this.add.bind(this));
                }
            }
        },
        createFileField: function(strId) {
            var id = strId.split('-');
            var tpl = '<table class="customoptions-file-row" cellspacing="0" cellpadding="0"><tr>'+
                '<td><input class="input-file" type="file" name="file_'+ id[3] +'" value="" /></td>'+
                '<td class="td-button"><span title="<?php echo $this->htmlEscape($this->__('Hide')) ?>">'+
                '<button type="button" onclick="productOptionTypeFile.cleanFileRow(\''+ id[3] +'\')" class="delete delete-select-row icon-btn"><span><?php echo $helper->__js('Hide') ?></span></button></span></td>'+
                '</tr></table>';
            var field = $('file-upload-'+ id[3]);
            if (field) {
                field.update(tpl);
            }
        },
        cleanFileRow: function(optionId) {
		var fileRow = $('file-upload-'+ optionId);
            if (fileRow) {
        	fileRow.update('');
            }
	}
    }

    if ($('option_panel_type_file')) {
        $('option_panel_type_file').remove();
    }
</script>