<?php
/* @var $this Mage_Catalog_Block_Product_View_Options_Type_Select */
$_option = $this->getOption();
$helper = Mage::helper('customoptions');
$valuesHtml = $this->getValuesHtml();
if ($valuesHtml) { ?>
<div <?php if ($helper->hideDependentOption() && $_option->getIsDependent()) { ?>style="display: none;"<?php } ?> class="option<?php if ($_option->getType()==Magekart_CustomOptions_Model_Catalog_Product_Option::OPTION_TYPE_HIDDEN) echo ' hidden'; if ($helper->isSpecifyingCssClassEnabled() && $_option->getDivClass()) echo ' '.$_option->getDivClass(); ?>">
    <?php if ($_option->getType()==Magekart_CustomOptions_Model_Catalog_Product_Option::OPTION_TYPE_HIDDEN) {
        echo $valuesHtml;
    } else { ?>
    <dl><dt><label><?php echo $this->htmlEscape($_option->getTitle()) ?><?php if ($_option->getIsRequire(true)): ?><span class="required">&nbsp;*</span><?php endif; ?></label>
    <?php if ($_option->getDescription()): ?><p class="note"><?php echo $_option->getDescription() ?></p><?php endif; ?></dt>
    <dd<?php if ($_option->decoratedIsLast) { ?> class="last"<?php } ?>>
        <?php echo $valuesHtml ?>
        <?php if ($_option->getIsRequire(true)): ?>
        <?php if ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_RADIO || $_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_CHECKBOX): ?>
                    <span id="options-<?php echo $_option->getId() ?>-container"></span>
        <?php endif; ?>
        <?php endif; ?>
        <?php if ($helper->isQntyInputEnabled() && $_option->getQntyInput() && $_option->getType()!=Mage_Catalog_Model_Product_Option::OPTION_TYPE_CHECKBOX && $_option->getType()!=Magekart_CustomOptions_Model_Catalog_Product_Option::OPTION_TYPE_MULTISWATCH): ?>
            <span class="qty-holder">
                <label class="label-qty"><?php echo $helper->getDefaultOptionQtyLabel() ?>
                    <input type="text" class="qty <?php if ($_option->getIsRequire(true)) echo 'validate-greater-than-zero'; else echo 'validate-zero-or-greater'; ?>" 
                           value="<?php echo ($_option->getOptionQty()?$_option->getOptionQty():1) ?>" maxlength="12" 
                           id="options_<?php echo $_option->getId() ?>_qty" name="options_<?php echo $_option->getId() ?>_qty"
                           pattern="\d*"
                           onchange="opConfig.reloadPrice(); <?php if ($_option->getIsXQtyEnabled()) { ?>optionSetQtyProduct.setQty();<?php } if ($_option->getIsDependentLQty()) { ?>optionSetQtyProduct.checkLimitQty(<?php echo $_option->getId() ?>, this);<?php } ?>" 
                           onKeyPress="if(event.keyCode==13){opConfig.reloadPrice(); <?php if ($_option->getIsXQtyEnabled()) { ?>optionSetQtyProduct.setQty();<?php } if ($_option->getIsDependentLQty()) { ?>optionSetQtyProduct.checkLimitQty(<?php echo $_option->getId() ?>, this);<?php } ?>}">
                </label>
            </span>
        <?php endif; ?>
        <?php if ($_option->getIsDependentLQty()) { ?>
            <span class="limit-holder"><?php echo $this->__('Items left:') ?> <strong id="total_limit_<?php echo $_option->getId() ?>">0</strong></span>
        <?php } ?>
    </dd></dl>
    <?php } ?>
</div>
<?php } ?>
